.addNote_button,
.addFolder_button {
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  width: 80%;
}

.remove_button {
  padding: 5px;
  margin-left: 10px;
}

button {
  border-radius: 10%;
}

.notesList {
  margin: 0 10px 0 40px;
  width: 100%;
  text-align: center;
}

.noteWrapper {
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px black;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: cornflowerblue;
}

.sidebar {
  text-align: center;
  width: 20%;
}

@media screen and (max-width: 600px) {
  .notesList {
    margin-left: 10px;
  }
  .sidebar {
    width: 40%;
  }

  .notesList {
    margin-left: 10px;
  }
  .sidebar {
    width: 40%;
  }
}
