.note_article {
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px black;
  background-color: cornflowerblue;
  width: 100%;
  margin: 0 10px 0 40px;
  text-align: center;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.goBack_button {
  padding: 10px 0 10px 0;
  width: 80%;
  margin-bottom: 20px;
}

.folder_name {
  margin-top: 5px;
  border: 1px black solid;
  border-left: 0;
  border-top-right-radius: 10%;
  background-color: rgb(214, 161, 25);
}

.note_content {
  margin: 10px 30px 10px 30px;
  padding: 10px;
  border: 1px solid black;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .note_article {
    margin: 0 10px 0 10px;
  }
}
